[2017-03-08 12:52] andersfi opened #1 "Event records without locationID in dataset doi:10.15468/dpgpyx"
There is several (5467) event records in dataset doi:10.15468/dpgpyx where locationID is null. This are leftovers from the "forekomst database" for which there was no location or coordinate attached.

As now, there is no foreign key constraint on locationID in the event table. This is probably due to the use of parent events in some datasets, which does not relate to one waterbody object. Need to

[2017-03-08 13:15] andersfi opened #2 "bibliographicCitation"
The term dwc:bibliographicCitation (http://rs.tdwg.org/dwc/terms/#dcterms:bibliographicCitation) is intended used as "a statement indicating how this record should be cited (attributed) when used." This field does not belong in the m_dataset as now since there are a lot of datasets containing citations/references linked to individual events (e.g.  literature surveys). The citation of the dataset i

[2017-03-09 13:12] andersfi opened #3 "organismQuantityID / organismQuantityMetric"
The occurrence table holds currently the two columns "organismQuantityID" / "organismQuantityMetric" which referees to the l_organismQuantityType table. Several issues with this that goes both on database structure and use of field names.

**Attempt of structuring issues:**
i) Firstly, it's slightly confusing and inconvenient to go through this lookup-table in order to get to the DwC fields organi

[2017-03-09 14:35] andersfi opened #4 "Reduant terms"
There is a lot of redundant terms, particularly in the event and occurrence table. These have been used previously in relation to database mapping but have no function any-more (as far as I can see). I suggest removing them, although they don't do any harm they are confusing for users. We can either a) just remove them (we will anyhow have a backup-history of the database to retrieve from), or b)

[2017-03-14 10:25] andersfi commented on #3
i) add common, rare and irregular to the l_occurrenceStatus table holding the controlled vocabulary for occurrenceStatus
ii) adding a table l_populationTrend for holding the controlled vocabulary for populationTrend

[2017-03-14 10:33] andersfi opened #5 "l_taxon should be revised"
Revise l_taxon to include a complete list of higher taxa ranking and taxonRank for all entries

[2017-03-15 09:18] andersfi commented on #2
Some browsing around. bibliographicCitation is used for record level citation, i.e. in case the citation of an individual record is having a different citation than the dataset. see e.g. [OBIS manual](http://www.iobis.org/manual/darwincore/#sampling). Suggest that we  move bibliographic citation to refference tabel, and rename the field in the m_dataset to correspond to "citation", which is from t

[2017-03-15 11:40] mdlux opened #6 "date and year fields in m_reference"
Are both fields required?

[2017-03-15 11:49] andersfi commented on #6
I think the usage would be:
Year: for ordinary references, like reports, papers, books etc..
Date: for e.g. interview surveys, personal correspondence or similar.

both would obviously not be used at the same time.

[2017-03-17 10:48] andersfi commented on #5
I have resolved the NOFA taxonomy table (l_taxon) against GBIF taxonomic backbone and added the ouptut to the temporary shcema in NOFA as "resolved_l_taxon" This also include higher taxa. The GBIF_key and GBIF_parentKey is linkage between higher and lower taxa. I have not done the same with the ADB taxonID (from artskart) as long as I don't know how stable they are.

[2017-03-21 07:21] mdlux commented on #3
Agree, naming convention should follow more the DwC guidelines. who's assigned to that?

[2017-03-21 07:23] mdlux commented on #3
I removed myself from assignement. I think Anders or Stefan are more reliable for DB level changes. Or, we can discuss it better before I do it, if you ask me to.

[2017-03-21 09:31] hanna-kaisalakka opened #7 "License"
It takes too much time to read three webpages to get information out of these license codes. Can we put some short explanations for the licence codes to the documentation page?

License documentation e.g.
CC0 = No Copyright
You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission.

CC-BY = Mention the author
You can copy, distribute, displa

[2017-03-27 09:31] andersfi commented on #7
added post on wiki with data access rights & license

[2017-03-27 09:31] #7 closed

[2017-03-27 09:32] andersfi commented on #6
revised m_refference in temporary schema for review and suggestions.

[2017-03-27 09:32] #4 closed

[2017-03-27 09:32] andersfi commented on #3
changed accordingly

[2017-03-27 09:34] andersfi commented on #2
We should start using the term [associatedReferences](http://tdwg.github.io/dwc/terms/index.htm#associatedReferences) in the event table. bibliographicCitation can stand as it is for now in the m_refference table?

[2017-03-27 09:34] andersfi commented on #1
deleted

[2017-03-27 09:34] #1 closed

[2017-03-27 09:35] andersfi commented on #5
updated l_taxon is out  or review in the temporary schema

[2017-03-28 13:48] mdlux commented on #6
I see a table named:
l_refferences_new
Is it what you mean?

[2017-03-28 13:59] andersfi commented on #6
Yes, it's shortened considerably by removing unused references.

Sendt fra min Samsung-enhet

-------- Opprinnelig melding --------
Fra: Matteo De Stefano <notifications@github.com>
Dato: 28.03.2017 15:50 (GMT+01:00)
Til: NINAnor/NOFA <NOFA@noreply.github.com>
Ko: "Anders G. Finstad" <anders.finstad@ntnu.no>, Comment <comment@noreply.github.com>
Emne: Re: [NINAnor/NOFA] date and year fields in m_r

[2017-03-29 08:03] mdlux commented on #3
Probably is a good idea to harmonize the db structure.
The table l_occurrenceStatus has no ID column, and the occurrenceStatus column (text) is used as a primary key.
The table l_populationTrend instead has an integer ID column.
Why such differences? Reopening the issue.

[2017-03-29 08:08] mdlux commented on #3
And to include some best practices:
primary key should be short, numeric and immutable. So the l_populationTrend way is better, in my opinion. See also:
http://stackoverflow.com/questions/337503/whats-the-best-practice-for-primary-keys-in-tables

[2017-03-29 08:08] andersfi commented on #3
Well spotter!

Actually, it's worse. The l_populationTrend table has an integer ID
column as PK, but the populationTrend term is uses as link to foreign
key. Guess this this was done in confusion before discovering that one
could use match simple to allow NULL values in foreign key columns, and
hence, NULL was used in the populationTrend column of l_populationTrend
with the result that this not co

[2017-03-29 08:10] andersfi commented on #3
Sure,  I guess there is no reason to not have a integer primary key on
lookup tables, even though the FK constraints comes from different columns.

On 29. mars 2017 10:08, Matteo De Stefano wrote:

[2017-03-29 08:12] mdlux commented on #3
This is why primary/foreign keys should never be from/to content columns, but from/to ID columns. This is why they should be immutable. In case NULL value are required, the solution is to simply have one record for that (example: ID 0 = NULL content). Hope being clear

[2017-03-29 08:32] andersfi commented on #3
uh.. yes, we have to look into this. There was a reason for not doing it
this way, have to recall.

On 29. mars 2017 10:12, Matteo De Stefano wrote:

[2017-03-29 08:40] ninsbl commented on #3
What I got out of the discussions Matteo linked to is:
Natural keys like e.g. country code are recommended - where applicable of course - for e.g. small lookup tables, which are not regularly changed. If artificial keys are used in such tables, a UNIQUE constraint should be set also on the natural keys...
Artificial keys (e.g. a serial) are recommended for larger tables, that are updated / added t

[2017-03-29 08:44] andersfi commented on #3
Thanks Stefan,

The l_ tables are rather small and not frequently updated (all? - have
to check) natural keys (i.e. controlled vocabularies, such as taxonID or
occurrenceStatus).

On 29. mars 2017 10:40, Stefan Blumentrath wrote:

[2017-03-29 08:47] mdlux commented on #3
Yes, Stefan, you are right. I was already thinking about natural keys, and cases when they are more suitable. And probably you are right, for such small tables they are better. And the second answer, suggesting to evaluate from case to case, is probably the best.

[2017-03-29 08:54] mdlux commented on #3
l_organismQuantityType should also change, I think, keeping only rows 13, 14 and 15, right? Nofa StochChange went to populationTrend, and NOFA StockStatus to occurrenceStatus

[2017-03-29 08:57] andersfi commented on #3
Yes, thats right. I suggest reusing the GBIF controlled vocabulary for
this http://rs.gbif.org/vocabulary/gbif/quantity_type_2015-07-10.xml .
Even though I think it's not that intuitive), at least it's an attempt
to provide an standard for this field.

On 29. mars 2017 10:54, Matteo De Stefano wrote:

[2017-03-29 11:21] mdlux opened #8 "Dropping the occurrence_check constraint"
Assuming that OrganismQuantityID is optional, and considering future changes in namespaces, I drop the constraint (in nofa_sandbox):

CONSTRAINT occurrence_check CHECK ("substring"("organismQuantity"::text, 0, 11) = 'NOFA stock'::text AND "organismQuantityType" IS NULL OR "substring"("organismQuantity"::text, 0, 11) = 'Total mass'::text AND "organismQuantityType" IS NOT NULL)
)

with:

ALTER TABLE

[2017-03-30 07:32] ninsbl commented on #3
The taxonID in l_taxon is a bit different probably from the other "l_..." tables, as we know that species names can change (even if that does not happen all the time), the same applies probably also to ecotypeID. So in these two cases I would use an artificial key (like we do at the moment). Might be worth to have unique constraint on the names (in combination with e.g. a deprecation date column f

[2017-03-31 08:58] ninsbl commented on #2
bibliographicCitation is a term for m_dataset (how the dataset could be cited)
associatedReferences in event and links to one or more references in m_reference
Use updated m_reference table (in temporary schema)

[2017-03-31 09:14] ninsbl opened #9 "add lookup tables for replacing organismQuantityID"
Now hardcoded in the plugin the drop down list should be flled from DB

[2017-04-04 13:16] ninsbl commented on #5
Just committed a script that UPSERTs eventual changes from that temporary table. If you are planning to update/synchronize the taxon list on a regularly basis, the scripts for resolving and UPSERTing should be merged!
Leaving the issue open until we have a final solution in NOFA.

[2017-04-04 20:33] andersfi commented on #5
I have been banging my head against the resolving issue for some time now. It was harder than I though, partly because I use the GBIF API for the task, and the representation of "Artsnavnebasen" on GBIF has some issues.

Well, "new" table out now. Main difference is more complete higher taxonomy, and inclusion of key and nubKey columns that are the GBIF keys for the species. These will resolve to

[2017-04-04 20:34] andersfi commented on #5
uh, by the way. The new l_taxon table is in the temporary shcema and called revised2_l_taxon

[2017-04-05 08:54] ninsbl commented on #5
OK, good.
No problem to update, I just have some quick questions regarding the differences between 1. and 2. revision:

There is a "scientificName.y" column in  revised2_l_taxon. I guess it is a remnant from your R script, so I disregard it ...

The following columns are new compared to l_taxon:

-   "nameType" text COLLATE pg_catalog."default"
-   "taxonomicStatus" text COLLATE pg_catalog."defaul

[2017-04-05 11:23] ninsbl commented on #5
Fixed as described above. Closing this and opening a new ticket for future syncronisation of NOFA taxon list with GBIF / Artsdatabanken.

[2017-04-05 11:23] #5 closed

[2017-04-05 11:33] ninsbl opened #10 "Syncronise NOFA taxon list with GBIF / Artsdatabanken"
Taxon list (nofa."l_taxon") in NOFA should be synchronized with taxonomic backbone at Artsdatabanken / GBIF.
See also:
#5
and
https://github.com/NINAnor/invafish/blob/master/nofa/fix_taxon.sh

[2017-04-05 12:12] ninsbl commented on #2
m_refrence overhaul:

1. Replace "referenceTypeID" with "referenceType" and thus change also PKEY in "l_referenceType"
2. Rename "endret_av" to "modifiedBy"
3. Remove "tempID"

Columns:

- referansetype text COLLATE pg_catalog."default",
- beskrivelse text COLLATE pg_catalog."default",
- "referanseType" text COLLATE pg_catalog."default",
- description text COLLATE pg_catalog."default",
- year_temp

[2017-04-05 13:20] andersfi commented on #2
Thanks, this will work!

On 05. april 2017 14:12, Stefan Blumentrath wrote:

[2017-04-05 15:27] ninsbl commented on #2
Since m:n relations in PostgreSQL should be modeled with a "join table" (see: http://dba.stackexchange.com/questions/60132/foreign-key-constraint-on-array-member)

We stick to a 1:n relation between references in m_reference and "associatedReferences" in the event table, because cases where one event is linked to more references the most likely very very rare.

Code for a join table implementation

[2017-04-05 15:27] #2 closed

[2017-04-05 15:39] ninsbl commented on #6
Exactly! I would say this is best handled in a validation / signal and slot in the add or modify reference in the Plugin GUI...
@mdlux  Would you agree on that (and in case close the issue)?

[2017-04-05 16:08] ninsbl commented on #8
I cannot see any problem with that, so go ahead and delete. But I don`t know how and to what extent the other changes on DB level were made...
Is there any code around that documented the related changes?
Could not find anything on github...

[2017-04-05 16:24] ninsbl commented on #9
See:
nofa."l_populationTrend"
and
nofa."l_occurrenceStatus"

[2017-04-05 18:18] ninsbl opened #11 "Make all Foreign keys ON UPDATE CASCADE"

[2017-04-05 19:21] andersfi commented on #8
I have a feeling that this was related to the structure and solution around the former l_organismQuantity table, with multiple concepts in one field (which we have moved / are moving away from). In that case it's redundant - so yes - delete please.

[2017-04-05 20:25] andersfi commented on #10
Preliminary script (R) for autoresolving added to NINAnor/invafish/nofa as https://github.com/NINAnor/invafish/blob/master/nofa/l_taxon_autoresolve.R and  https://github.com/NINAnor/invafish/blob/master/nofa/function_scientific_name_lookup.R . Should be revised, and finally merged into https://github.com/NINAnor/invafish/blob/master/nofa/fix_taxon.sh .

Also, comments to l_taxon table indicating e

[2017-04-05 20:33] ninsbl commented on #10
Cool! I will fix that tomorrow!

[2017-04-24 05:58] #3 closed

[2017-04-24 06:21] andersfi opened #12 "link between location and waterbody table"
# No link between waterbody table and location table
A lot of ID fields floating around in the different tables ("waterBodyID" in location table, "id" in the waterbody table). At the moment, there is no simple one-to-many key between the waterbody table and the location table. I guess this is partly because in some instances the fennoscandian lake table (temporary.lakes_nosefi ) several waterbodie

[2017-04-28 11:52] andersfi commented on #10
Updated R script for automatically resolve taxon information and storing back into l_taxon (https://github.com/NINAnor/invafish/blob/master/update_l_taxon/l_taxon_autoresolve.R). Keeping the issue/improvement open for now, as the script should be revised slightly if run as cronjob. Is not tested thoroughly, particularly need to resolve issues around the stability of taxonIDs from artsnavnabasen.

[2017-05-02 08:30] andersfi commented on #9
created new l_organismQuantiyType with organismQuantityType as primary key (natural key) using GBIF controlled vocabulary.

closing issue.

[2017-05-02 08:30] #9 closed

[2017-05-02 08:34] andersfi commented on #8
occurrence_check contraint dropped.

[2017-05-02 08:34] #8 closed

[2017-05-09 08:04] bufferclip opened #13 "Update visualization of DB schema"
An update of the visualization of the db schema would be great: http://folk.ntnu.no/vmzomdav/NOFA/

The column "referenceID" in the "event"-Table has been replaced by "associatedReferences", right?

See also: https://github.com/NINAnor/NOFAInsert/issues/39

[2017-05-22 11:06] andersfi opened #14 "Update NOFA with constraints"
1. eventDateQualifier
+ several ...

[2017-05-22 11:14] andersfi opened #15 "add basisOfRecord field to occurrence table"
Add basisofrecord field to occurrence table and link to l_basisOfRecord lookuptable

[2017-05-22 11:49] andersfi opened #16 "batch update establishmentMeans"
Run script https://github.com/NINAnor/invafish/blob/master/nofa/neozon_batch_update_trygve.sh on main nofa database (currently only updated in sandbox)

[2017-05-26 06:49] #13 closed

[2017-05-30 08:31] andersfi opened #17 "create occurrence views"
Need to create occurrence views that aggregate occurrences across events and datasets in order to display species distribution maps etc. Examples: nofa.view_occurrence_all for all species, and nofa.view_occurrence_pike for one species. It would be extremely convenient to generate views for species by looping through the species in the occurrence table in order to avoid manually updating a number o

[2017-05-30 09:03] vmzomdav commented on #14
I have checked for missing constraint... every thing seems now to be in order, the database structure diagram is now updated.

[2017-05-30 09:03] #14 closed

[2017-06-01 08:43] bufferclip opened #18 "Use pgRouting for connectivity analysis"
[pgRouting](http://pgrouting.org) is an extension for PostgreSQL and PostGIS. It gives the possibility to do routing using a SQL query. In the NOFA project it could be used to model where fish can travel to.

But first the river network has to be made "routable". Hence, a routing graph has to be built.
Basically all river segments are properly connected to each other. Each river segment can obtain

[2017-06-01 10:00] andersfi commented on #18
This is interesting. Just a quick note. Two steps that need to be enhanced before we can proceed further with testing.
1. Need to link lakes to fish data (i.e. [issue #12](https://github.com/NINAnor/NOFA/issues/12))
2. Need to link waterbodies (i.e. connecting all rivers and lakes). This has some issues as the map sources we use have glitches.

[2017-06-01 10:51] bufferclip opened #19 "Count of lakes with fish observation per county"
We got a user request to extract data about fish observations:

We shall count the lakes which have at least one occurrence of a fish species.

[2017-06-01 11:25] mdlux commented on #19
The query should count:
how many lakes in each county have at least one occurrence for each of 3 species:
Phoxinus phoxinus
Rutilus rutilus
Esox Lucius
We should also divide the results according to 3 population trend criteria:
introduced
native
unknown

[2017-06-01 12:12] bufferclip opened #20 "adding road distance to next village"
It would be interesting to know how far (road network distance, not linear distance) each lake is away from the next village.

Therefore we could use [GraphHopper](https://github.com/graphhopper/graphhopper). It is a routing library/program based on Java. It uses natively OpenStreetMap data. It is comparably simple to run an own routing server of whole Scandinavia with it. The n we could use this

[2017-06-01 13:09] bufferclip commented on #19
Useful ressources:
https://youtu.be/6yTFkLMOY_s?t=3m2s

[2017-06-01 13:12] bufferclip commented on #19
https://gis.stackexchange.com/questions/54661/count-points-in-polygon-with-postgis
https://youtu.be/6yTFkLMOY_s?t=3m2s

[2017-06-01 13:37] bufferclip commented on #19
That are our IDs:

'Rutilus rutilus',26134
'Esox lucius',26181
'Phoxinus phoxinus',26138

[2017-06-01 15:15] andersfi commented on #19
No need to invoke spatial queries. Just summarize on county, species and establismentMeans from  nofa.view_occurrence_all.

Warning: nofa is not up to date. Need to run batc_add* etc first.

[2017-06-01 16:27] andersfi commented on #19
sorry, I meant nofa.view_aggregated_occurrence

[2017-06-01 19:44] andersfi commented on #19
see https://github.com/NINAnor/invafish/blob/master/R_markdown_reports/get_populations_county.rmd
Currently reading from nofa_sandbox
closing issue

[2017-06-01 19:44] #19 closed

[2017-06-02 08:02] mdlux commented on #19
Solved by Anders

[2017-06-02 19:15] ninsbl commented on #17
See: https://github.com/NINAnor/invafish/blob/master/QGIS_plugin/Create_NOFAVisualisation_views.sh

Might have to be adjusted a little bit, not sure...

However, keep in mind that once tables and columns are used in a view, the possibilities to modify them will be limited (e.g. you cannot drop a column that is used in a view, without dropping the view in advance (or DROP CASCADE)....

[2017-06-06 13:20] andersfi opened #21 "add description of l_samplingProtocol to wiki"
need a description of l_samplingProtocol table and the logic behind this on the wiki. the samplingProtocol vocabulary / thesaurus is home-brewed and no public explanation exists anywhere else.

[2017-06-06 18:04] #21 closed

[2017-06-07 12:01] andersfi opened #22 "delete table nofa.l_taxonomicCoverage"
Redundant

[2017-06-07 14:20] JakobMiksch opened #23 "Log Table for data INSERT and UPDATE"
Would be nice to have a table that tracks all `INSERT `and `UPDATE` activities.

### Advantages

Everything could tracked. In best case with the database user and the data. So, if there is something wrong with the data, it is easier to track it.

### Implementation

There is probably a lot of possibilities around.

* We could use the Postgres internal [log files](https://stackoverflow.com/a/722236

[2017-06-07 14:22] JakobMiksch opened #24 "Clean up import script folder"
It would be nice to put the [import scripts](https://github.com/NINAnor/invafish/tree/master/nofa) for each dataset into a separate folder.

[2017-06-07 14:42] JakobMiksch opened #25 "run pgAdmin4 as web application on server"
[pgAdmin4 ](https://www.pgadmin.org/) can be run as web application on the [server](https://www.pgadmin.org/docs/pgadmin4/dev/server_deployment.html). It more or less behaves like an desktop program then. This means that the users (we) could access the database via the browser without installing anything.

I have used pgAdmin4 in the browser on Ubuntu already and I find it nice and stable. (The ve

[2017-06-12 13:43] JakobMiksch commented on #18
This [presentation](https://github.com/Oslandia/presentations/blob/master/pgconf_eu_2012/pgconfeu2012_vincent_picavet_postgis_topology.pdf) gives some example how to do routing on river networks using [PostGIS Topology](https://postgis.net/docs/manual-dev/Topology.html)

[2017-06-15 08:27] JakobMiksch opened #26 "typo in nofa.dwc_a_eventcore_emof"
`Ordinal scale` has a wrong `"` in its column

[code]

[2017-06-15 11:02] JakobMiksch opened #27 "Simplify views"
We could simplify the species specific views with something like this:

[code]

[2017-06-15 11:32] andersfi commented on #27
Ah.. thank you! Good idea  - It only makes me sad that I didn't think that far myself (=

[2017-06-20 14:28] JakobMiksch opened #28 "Remove redundant location points"
This is related to #12 .

Some lakes have two location points with the exact same attributes. This is confusing and should be cleaned up.

[2017-06-27 09:37] andersfi opened #29 "location environment characteristic"
# Create table which links waterbodies to environmental characteristics.

View intended to be updated upon need. However, variables immediately needed. Priority in square brackets []:

- [x] Linear distance to closest fish population of the focal species at the time of introduction (time of observation [**1**]
    - maybe a function with
         - INPUT: lake, species, year
         - OUTPUT: dis

[2017-06-30 08:53] JakobMiksch opened #30 "Comments on (materialized) views"
Would be great to have some comments on all kind of views and other database entities. It helps to understand what everything is about. https://www.postgresql.org/docs/9.6/static/sql-comment.html

Possible for:

- [ ] Database
- [ ] Schema
- [ ] Tables
- [ ] Views
- [ ] Functions
- [ ] Trigger
- ...

[2017-06-30 10:05] JakobMiksch opened #31 "Link lake.gid to location.waterBodyID with constraint"
Do we need to link the lake and the location table with constraint?

[2017-06-30 10:39] andersfi commented on #31
I think there should be a constraint between the location table and the waterbody table (fk waterBodyID) so that all locations are linked to a waterbody. This waterbody may either be a lake, stream or other waterbody. i.e. not an explicit constraint to the lake table itself, but to the parent table (waterbody)

[2017-07-11 12:52] JakobMiksch commented on #12
Now, it already [works](https://github.com/NINAnor/invafish/commit/75c4e7d43dfad16e86343864558952f2db2deb16). But we can still refine the "algorithm" This should not be too hard anymore, because we have the basic skeleton already ... Bascially we have to decide under which conditions we want to match lakes and we have to decide which matching_remarks we shall write ...

[2017-07-13 08:43] JakobMiksch commented on #29
for finding the closest population at at time we need something like this for each lake, right?

![image](https://user-images.githubusercontent.com/15704517/28157832-11976a48-67b8-11e7-99e4-49957e9920b3.png)

[2017-07-30 22:37] ninsbl commented on #11
fixed by @vmzomdav ?

[2017-07-30 22:38] ninsbl commented on #12
Can we close this?

[2017-07-30 22:42] ninsbl commented on #22
Fixed?

[2017-07-30 22:44] ninsbl commented on #31
Due to table inheritance, I dont think this is possible...

[2017-07-31 07:30] JakobMiksch opened #32 "Update NOFA to latest PostGIS version"
The current version of PostGIS in NOFA is outdated. In order to use the `<->` operator, we need to update the PostGIS verison.

[2017-07-31 07:30] JakobMiksch commented on #12
The basic functionality works. But like written in my comment above, we can still discuss if the matching method actually makes sense.
Moreover, the function in NOFA uses `ORDER BY ST_Distance(location.geom, lake.geom)` which could be replaced by `location.geom <-> lake.geom`. But this can only be done if we upgrade NOFA to the latest PostGIS version (#32).

[2017-07-31 07:32] JakobMiksch commented on #22
I it is not in the among the current tables any more. Hence I close this issue, feel free to reopen!

[2017-07-31 07:32] #22 closed, assigned to nobody

[2017-07-31 08:39] JakobMiksch opened #33 "2 occurrences without Event"
I discovered that there are 2 occurrences without an event. You can find them using this query:

[code]

We might need a constraint that every occurrence MUST reference to an event.

related: #38

[2017-07-31 12:54] JakobMiksch opened #34 "2 similar constraints on "event"."datasetID""
The event table has these constraints:

[code]

What is the meaning of having this constraint twice?
Once with `MATCH SIMPLE` and once with `MATCH FULL`

[2017-07-31 19:29] JakobMiksch opened #35 "Wiki: Explain how to escape quotes in SQL string"
It might be good for users to explain in the [wiki](https://github.com/NINAnor/NOFA/wiki/Fetch-data-from-NOFA-using-postGIStools-%28R%29) how escape quotes in the SQL string.

This is sometimes necessary, like in this example:

`SELECT "waterBodyID" FROM nofa.lakes`

[2017-07-31 20:53] ninsbl commented on #34
Good catch!
MATCH FULL applies only to multicolumn foreign keys. Dropping the first one.
Renamed event constraints so they are consistent...

[2017-07-31 20:53] #34 closed, assigned to ninsbl, andersfi, JakobMiksch

[2017-07-31 21:06] ninsbl commented on #32
Updated NOFA to PostGIS 2.3.2.
Please check if everything works...

[2017-07-31 21:06] #32 closed, assigned to ninsbl, andersfi, JakobMiksch

[2017-07-31 21:51] ninsbl commented on #16
Already done by @bufferclip ?
Can we close this?

[2017-08-01 07:55] JakobMiksch commented on #16
Yes

[2017-08-01 07:55] #16 closed

[2017-08-01 07:57] JakobMiksch commented on #32
Thanks. I see that is has been updated. Now, I can actually launch some functions on the productive NOFA db.

@ninsbl Which command did you use for updating PostGIS?

[2017-08-01 08:32] JakobMiksch commented on #35
https://github.com/NINAnor/NOFA/wiki/Fetch-data-from-NOFA-using-postGIStools-(R)/ead1d1fdd241554aaaa809ac8c43408120abd314

I extended the example.
@andersfi I hope you agree

[2017-08-01 08:32] #35 closed, assigned to andersfi

[2017-08-02 08:53] andersfi opened #36 "improve match_lake function"
- [x] output as two columns, one with matched lakeID and one with comments/remarks
- [x] create two functions. One with activated threshold to be user determined, and one with default threshold (100 m)
     - the function is now overloaded - see this commit https://github.com/NINAnor/invafish/commit/70631dbcf102d23b5227c9923d2e1d1b0530ddda
- [ ] Write README including examples and "installation pr

[2017-08-02 09:12] andersfi opened #37 "create trigger for attributes of location table"
Create trigger for location table attributes:

- [ ]  latitude, longitude text columns (needed for data export)
- [ ] municipality, county, countryCode from admin layers
- [ ]  array of fish species found upstream

Create triggers for lake table attributes:
- [ ] array of upstream lakes
- [ ] array of first upstream lakes
- [ ] distance to first upstream lake

[2017-08-02 12:02] ninsbl commented on #32
To make it simple I used:
`ALTER EXTENSION postgis UPDATE TO "2.3.2";`

Yet, that means we are still on PG 9.5....

[2017-08-02 12:25] JakobMiksch opened #38 "event."locationID" and occurrence."eventID" NOT NULL"
So far event."locationID" and occurrence."eventID" can be NULL

Do we want that?

Do we want occurrences WITHOUT event?

Do we want events WITHOUT locations?

related: #33

[2017-08-02 12:37] andersfi commented on #38
Woops. I see that constraint occurrence_fk_eventID is match simple, this should probably be match full? Please change accordingly.

event_fk_locationID is match full, this should be ok?

[2017-08-02 12:44] JakobMiksch opened #39 "Do we need MATCH FULL?"
For our constraints we sometimes use `MATCH SIMPLE` (default) and sometimes `MATCH FULL`. According to [this](https://dba.stackexchange.com/a/71508),   `MATCH FULL` is only necessary in case of "multicolumn foreign keys".

My question:
Do we actually need  `MATCH FULL` constraints or would  `MATCH SIMPLE` also be enough?

Related: #38

[2017-08-02 12:52] andersfi commented on #33
Delete those occurrences...

[2017-08-02 12:52] JakobMiksch commented on #38
I already asked something about MATCH FULL here #39 .

@andersfi  would MATCH FULL prevent having occurrences without event?

[2017-08-02 12:55] andersfi commented on #39
Ah.. sure. No, not unless we have multicolumn constraints, which I don't think we have. But, does it matter, besides looking foolish?
A.

[2017-08-02 13:08] JakobMiksch commented on #33
I deleted them using:

[code]

[2017-08-02 13:08] #33 closed, assigned to ninsbl, andersfi, JakobMiksch

[2017-08-02 13:10] JakobMiksch commented on #39
I don't know right now - but I guess it is better to only use the settings that we actually need. Otherwise we might later on face some issues that we do not expect yet ...

[2017-08-02 17:13] #18 closed

[2017-08-02 22:19] ninsbl commented on #38
We definately do not want an event without location and no occurrences without event.
I think whats needed is simply a NOT NULL constraint. on the referencing columns. The reason we did not have apply it is that the original database had lots of events without location. I think Anders deleted those (while Jakob recently deleted the occurrences without events) and it now should be technically possi

[2017-08-03 06:40] JakobMiksch commented on #38
We also have 4 events without location:

[code]

@andersfi @ninsbl what shall we do with those 4 events?

After we have solved this we can apply:

[code]

[2017-08-03 10:28] JakobMiksch commented on #36
@andersfi  I found this example of using match_location for a table of locations:

[code]
Source:
https://stackoverflow.com/a/45466972

[2017-08-03 12:48] andersfi commented on #38
Manually going through the notes for the events without location (luckily this was one of the few datasets where we have a fieldNumber refering to the orginal field forms....), and setting locationID for those.
Thereafter running ALTER TABLE ..... SET NOT NULL;

closing issue

[2017-08-03 13:16] JakobMiksch commented on #36
@andersfi I described [here](https://github.com/NINAnor/invafish/blob/18ebd240f738da5c48220da7513199c14c9d6c80/nofa/waterbody_location_matching/README.md) (bottom) how to retrieve both the id and remark.

Are you fine with this?
Then I would check the first point.

[2017-08-03 18:16] andersfi commented on #36
Yea, that works great. Checked of the first point (=

[2017-08-07 12:57] JakobMiksch opened #40 "threshold - wrong spelling"
We somehow have "threshold" and "treshold" flying around in our repository. We should only use **"threshold"**

[2017-08-07 13:00] JakobMiksch opened #41 "Missing Indexes on event and occurrence"
It seems that on the productive NOFA the indexes for the foreign keys are missing.

![image](https://user-images.githubusercontent.com/15704517/29027424-f144df96-7b80-11e7-9992-a93b9139f9d9.png)

![image](https://user-images.githubusercontent.com/15704517/29027435-00a7c566-7b81-11e7-943e-4ab6e780386f.png)

[2017-08-07 13:16] JakobMiksch opened #42 "Rename "match_lake_within_treshold()" function"
We need to rename this [function ](https://github.com/NINAnor/invafish/blob/master/nofa/waterbody_location_matching/match_lake_within_treshold.sql). Otherwise there will be too much confusion.
See also:
https://github.com/NINAnor/invafish/commit/820c2ae3091d6cfc24a8def1094c189ca7ff5a71

[2017-08-08 06:26] andersfi opened #43 "add minimumDepthInMeters and maximumDepthInMeters to event table"
Currently in proses of importing the PIKE database. Realizing that we are lacking the terms minimumDepthInMeters and maximumDepthInMeters. These should be added to the event table.

These are strait forward numeric terms describing the depth in m of the sampling [http://tdwg.github.io/dwc/terms/index.htm#minimumDepthInMeters](url).

I am, however, unsure on what numeric data-type these should be?

[2017-08-08 08:38] andersfi opened #44 "change occurrence.fieldNumber from character varying(50) to character varying(250)"
Need to change occurrence.fieldNumber to longer varchar (PIKE dataset contains longer values for this field.

Applying and closing issue.

`ALTER TABLE occurrence ALTER COLUMN "fieldNumber" TYPE character varying(250);`

[2017-08-08 08:40] andersfi commented on #44
applied, closing issue

[2017-08-08 08:40] #44 closed, assigned to ninsbl, mdsnor, JakobMiksch, svoboond, samaperrin

[2017-08-08 10:39] #42 closed, assigned to andersfi, JakobMiksch

[2017-08-08 10:42] andersfi commented on #41
yes, I guess we should have indexes here, or am I missing something? (Stefan?).

[2017-08-08 10:48] andersfi opened #45 "PIKE"
Still lacking some locations that did not match to existing locationIDs. These will be updated subsequently when the match_lake function are fully operational, possibly after adding lake centroids and locationID to a number of waterbodies lacking.

[2017-08-08 10:53] andersfi commented on #43
Added (without constraint for now), in order to facilitate PIKE data import.

[2017-08-08 12:37] JakobMiksch commented on #40
@andersfi I also changed your R example files (https://github.com/NINAnor/invafish/commit/cdf35527f0e4d8d5e21ffa6326ba6fc717fb33f2?diff=unified)

I hope they still work.

Could you please check that?

You can close the issue, if there is no more problem ...

[2017-08-08 19:10] ninsbl commented on #38
Sorry, I was maybe a bit fast I am afraid...

parentEvents will not have a location, if remember correctly. So, we should probably discuss this @andersfi ...

[2017-08-08 20:15] andersfi commented on #38
Well, parentEvent's can have a location, e.g. referring to an survey of a given geographic area. However, in practice they don't as this information is rarely bothered recorded. We have beaten the system by giving parentEvents without a location the locationID:"3e4ab480-7c6c-4de3-a0ca-0052b695d2a2" with locationType:"dummy".

[2017-08-08 20:16] andersfi commented on #38
I'm sort of happy with this solution, as it's very nice to get thrown back an error when you misses the locationID.

[2017-08-08 21:08] ninsbl commented on #41
Created the following indices:

[code]

Hope that helps! Feel free to reopen if needed!

[2017-08-08 21:08] #41 closed, assigned to ninsbl, mdsnor, andersfi, JakobMiksch

[2017-08-09 13:06] #40 closed, assigned to andersfi, JakobMiksch

[2017-08-10 19:24] ninsbl commented on #38
All fine! Was not aware of that!

[2017-08-10 19:24] #38 closed, assigned to ninsbl, andersfi, JakobMiksch, svoboond

[2017-08-10 19:30] ninsbl opened #46 "Add Row Level Security on event and occurrence table"
In order to improve data security we should add Row Level Security on event and occurrence table for UPDATE and DELETE commands, so we avoid that people can damage each others data.
However, we might need a new "nofa_curator" group role for people that are eligible to quality check data that was entered.

More on RLS here:
https://www.postgresql.org/docs/9.5/static/ddl-rowsecurity.html
https://www

[2017-08-28 11:41] JakobMiksch opened #47 "OpenStreetMap Licence"
We need to find out how to properly cite OpenStreetMap data that we use in our database. These links might be handy:

- [Licence Working Group](http://wiki.osmfoundation.org/wiki/Licensing_Working_Group) for questions
- [ODbL full](https://opendatacommons.org/licenses/odbl/1.0/)
- [ODbL human readable](https://opendatacommons.org/licenses/odbl/summary/)
- [Horizontal Map Layers](http://wiki.osmfou

[2017-08-30 06:19] JakobMiksch opened #48 "Perimeter Precision"
We computed the perimeter of all lakes in Fennoscandia. However, the perimeter can vary a lot depending on how detailed the underlying polygon is. Since we have lakes from different kinds of sources, we should check if the level of detail is comparable across all of the lakes.
Otherwise there might be a danger for wrong data.

[2017-09-03 18:13] ninsbl commented on #39
I would say conclusion is that we stick to MATCH SIMPLE. Please reopen if anyone sees a good reason for using MATCH FULL.

[2017-09-03 18:13] #39 closed, assigned to ninsbl, mdsnor, andersfi, JakobMiksch

[2017-09-03 18:18] ninsbl commented on #25
Benefits don't justify security risks

[2017-09-03 18:18] #25 closed, assigned to nobody

[2017-09-04 21:02] ninsbl commented on #48
Good point.
When working on different countries, different data sources and different levels of detail are just a reality.
What can be done is to count the number of vertices and relate that number to the perimeter. That way we get an impression of the precision of the digitization.
If the precision effect is significant would be another question (e.g. how much does perimeter vary between really c

[2017-09-04 21:05] #43 closed, assigned to ninsbl, mdsnor, JakobMiksch, svoboond

[2017-09-04 21:07] ninsbl commented on #29
Buffers are created and population grids imported. Next steps are Intersection of buffers / catchments and population.
Will import Landcover map too.

[2017-09-05 08:30] JakobMiksch opened #49 "R-function: "Distance to closest fish population" might break"
The wrapper function for R is currently stored in https://github.com/NINAnor/invafish/blob/master/nofa/distance_to_closest_fish_population/prototype/f_distance_to_closest_fish.R.
A problem might be that the function lives in the folder `prototype`. This folder should be removed once the function is stable. However, this will break the function for the R users.

[2017-09-05 08:45] JakobMiksch opened #50 "presence ranges - end date"
The function [presence_time_range](https://github.com/NINAnor/invafish/blob/master/nofa/distance_to_closest_fish_population/prototype/present_ranges.sql) computes when a specific species has been present in a lake in the past. It takes the day of the function-execution as end date.

![image005](https://user-images.githubusercontent.com/15704517/30052850-3d9fb7e6-9227-11e7-87fd-d5ca403b1d31.png)

H

[2017-09-05 13:53] JakobMiksch commented on #17
There are already some views created:
![image](https://user-images.githubusercontent.com/15704517/30064518-46d44bee-9252-11e7-87b1-da62e8f41fed.png)
Can we close this?

[2017-09-05 13:54] JakobMiksch commented on #20
related:  #47

[2017-09-05 13:55] JakobMiksch commented on #23
This [extension](https://www.postgresql.org/docs/9.3/static/pgstatstatements.html) might be useful.

[2017-09-05 13:57] JakobMiksch commented on #27
The suggested approach does not work in Postgres.

[2017-09-05 13:57] #27 closed, assigned to andersfi, JakobMiksch

[2017-09-08 09:41] ninsbl commented on #26
Fixed

[2017-09-08 09:41] #26 closed, assigned to andersfi, JakobMiksch

[2017-09-08 10:44] ninsbl commented on #31
Now I just gave it a try:
[code]
But it ends in an error message:
[code]
However:
[code]
returns a row.
So, this foreign key does not seem possible...

[2017-09-08 10:44] #31 closed, assigned to nobody

[2017-09-08 10:48] ninsbl commented on #12
The core of this issue is duplicating  #36 and #31
The latter is closed as invalid, so only improving the matching remains....

[2017-09-08 10:48] #12 closed

[2017-09-08 10:56] ninsbl commented on #15
l_basisOfRecord already exists.
Should a basisOfRecord column really go into the occurrence table?
It seems to be very much tied to the samplingProtocol, so it would fit into event so people don`t have to specify it for every occurrence....
At the en a question is: Is it necessary that users enter something here, or can it be taken from the samplingProtocol?

[2017-09-08 10:59] andersfi commented on #15
Sorry, I did this and forgot to close the issue. However, I think it superfluous in this setting. Right now we (as in the NOFA database as a whole) only deal with data of type "humanObservation". If needed in the future it could be added then.

[2017-09-08 11:08] ninsbl commented on #15
OK, leaving it open with low priority

[2017-09-08 11:54] ninsbl commented on #11
Found several FKs that do not CASCADE ON UPDATE:
[code]
See: https://www.postgresql.org/docs/9.6/static/catalog-pg-constraint.html

[2017-09-08 12:18] ninsbl opened #51 "What about nofa.l_rettighetshaver"
Seems to be a relic from ForekomstDB.
Can it be deleted? It is still referenced by m_reference table, but its functionality should be in m_dataset...

[2017-09-08 12:35] ninsbl commented on #11
Fixed, the query above should return no rows any more...

[2017-09-08 12:35] #11 closed

[2017-09-08 12:41] ninsbl opened #52 "Add indices on FK columns"
For performance it would be good to add indices on all columns with Foreign key.

[2017-09-11 11:16] ninsbl commented on #24
Now I did some cleanup . In the NOFA folder in the invafish repository. It can be done more, but that should be sufficient for the time being...

[2017-09-11 11:16] #24 closed, assigned to ninsbl

[2017-09-11 13:23] ninsbl commented on #48
This has been added to a set of geometry metrics which are computed on N16 at the moment.
Should be fixed soon!

[2017-09-11 13:31] ninsbl commented on #36
@svoboond Is this function used in the plugin?

[2017-09-11 14:28] ninsbl commented on #20
We should compute more involved distance measures later if required, depending on how simple measures perform...

[2018-06-07 08:08] ninsbl opened #53 "Update vatnlnr"
A couple of new vatnlnr have been added to NVE database. Should be updated